body:has(.ppcp-r-container--onboarding) {
	background-color: #fff !important;

	.notice, .nav-tab-wrapper.woo-nav-tab-wrapper, .woocommerce-layout, .wrap.woocommerce h2:first-of-type {
		display: none !important;
	}
}
