.ppcp-r-page-welcome {
	.ppcp-r-welcome-features {
		margin: 0 0 32px 0;
	}

	.ppcp-r-payment-method-icons {
		margin: 0 0 32px 0;
	}

	.ppcp-r-button-activate-paypal {
		display: block;
		margin: 0 auto;
	}

	.ppcp-r-button__description {
		text-align: center;
	}

	.ppcp-r-page-welcome-or-separator {
		margin: 0 0 16px 0;
	}

	.ppcp-r-page-welcome-mode-separator {
		margin: 0 0 48px 0;

		.ppcp-r-separator__line {
			background-color: $color-gray-300;
		}
	}

	.components-base-control__field {
		margin: 0 0 24px 0;
	}
	.ppcp-r-toggle-block__toggled-content > button{
		padding: 6px 12px;
		@include font(13, 20, 500);
		color: $color-white;
		border: none;
	}
}

.ppcp-r-welcome-features {
	display: flex;
	justify-content: center;
	padding: 8px;

	&__col {
		display: flex;
		flex-direction: column;
		gap: 4px;

		> span {
			@include font(12, 16, 500);
			text-transform: uppercase;
			color: $color-gray-800;
		}

		> p {
			margin: 0;
			@include font(11, 16, 450);
			color: $color-gray-700;
		}

		&:not(:last-child) {
			padding-right: 18px;
			border-right: 1px solid $color-gray-200;
			margin-right: 18px;
		}
	}

	@media screen and (max-width: 480px) {
		flex-wrap: wrap;
		row-gap: 8px;
		&__col {
			width: 100%;
			text-align: center;

			&:not(:last-child) {
				border-bottom: 1px solid $color-gray-200;
				border-right: 0;
				padding-right: 0;
				padding-bottom: 8px;
			}
		}
	}
}

.ppcp-r-welcome-docs {
	margin: 0 0 48px 0;

	&__title {
		text-align: center;
		@include font(20, 28, 700);
		margin: 0 0 32px 0;
	}

	&__description {
		text-align: center;
		@include font(14, 22, 400);
		font-style: italic;

		a {
			color: $color-gray-700;
		}
	}

	&__wrapper {
		display: flex;
		justify-content: center;
		padding: 8px;
		margin: 0 0 48px 0;
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: 4px;
		flex: 1;

		> p {
			margin: 0;
			@include font(13, 16, 400);
			color: $color-gray-700;
		}

		&:not(:last-child) {
			padding-right: 48px;
			border-right: 1px solid $color-gray-200;
			margin-right: 48px;
		}
	}

	.ppcp-r-page-welcome-mode-separator {
		margin: 8px 0 16px 0;
	}

	@media screen and (max-width: 480px) {
		flex-wrap: wrap;
		row-gap: 8px;
		&__col {
			width: 100%;
			text-align: center;

			&:not(:last-child) {
				border-bottom: 1px solid $color-gray-200;
				border-right: 0;
				padding-right: 0;
				padding-bottom: 8px;
			}
		}
	}
}

